{% extends "base.html" %}

{% block nav %}
    <li><a class="navig nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Главная</a></li>
    {% if current_user.is_authenticated %}
        <li><a class="navig nav-link fw-bold py-1 px-0" href="/settings">Настройки</a></li>
    {% else %}
        <li><a class="navig nav-link fw-bold py-1 px-0" href="/sign-in">Настройки</a></li>
    {% endif %}
    {% if current_user.is_authenticated %}
        <li><a class="navig nav-link fw-bold py-1 px-0" href="/profile/{{current_user.id}}"><i class="fa-regular fa-user fa-sm"></i> {{ current_user.nick_name }}</a></li>
    {% else %}
        <li><a class="navig nav-link fw-bold py-1 px-0" href="/sign-in"><i class="fa-regular fa-user fa-sm"></i> Войти</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="head-title">
        <h1>Цитаты.</h1>
        <p class="lead">Последние цитаты на сайте.</p>
    </div>
    <div class="btn-add-quote">
        {% if current_user.is_authenticated %}
            <a class="btn-custom" href="/quote-add"><span>Добавить</span><i></i></a>
        {% else %}
            <a class="btn-custom" href="/sign-in"><span>Добавить</span><i></i></a>
        {% endif %}
    </div>
    {% if no_quotes %}
        <div class="no-quote">
            <p class="lead">Цитат ещё нет. Будьте первым.</p>
        </div>
    {% else %}
        {% for item in quotes%}
            <div class="quote row">
                {% if current_user.id == item.user.id %}
                    <a class="delete" href="/quotes/delete/{{item.id}}/0"><i class="fa-solid fa-xmark fa-lg" style="color: #ff0000;"></i></a>
                {% endif %}
                <div class="quote-content col-12 col-sm-8 col-md-9 col-lg-9">
                    <a class="quote-text-h3" href="/quote/{{item.id}}">&#10077;{{item.content}}&#10078;</a>
                    <p class="fw-light">{{item.author}}</p>
                </div>
                <div class="author-quote col-12 col-sm-4 col-md-3 col-lg-3">
                    <h4 class="text-center"><a class="author-link-text-quote" href="/profile/{{item.user.id}}">{{item.user.nick_name}}</a></h4>
                    <div class="indicators">
                        <p class="indicator-left"><i class="fa-regular fa-comment" style="color: #ffa50a;"></i> {{item.comments_number}}</p>
                        {% if current_user.id in item.likes|map(attribute="user_id")|list %}
                            <p class="indicator-right"><i class="fa-solid fa-heart" id="like-button-{{item.id}}" onclick="like({{item.id}})" style="color: #ffa50a;"></i> <span id="likes-count-{{item.id}}">{{item.likes_number}}</span></p>
                        {% else %}
                            <p class="indicator-right"><i class="fa-regular fa-heart" id="like-button-{{item.id}}" onclick="like({{item.id}})" style="color: #ffa50a;"></i> <span id="likes-count-{{item.id}}">{{item.likes_number}}</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
<!--    <p class="lead">-->
<!--        <a href="#" class="hv-btn btn btn-lg btn-light fw-bold border-white">Learn more</a>-->
<!--    </p>-->
{% endblock %}