{% extends "base.html" %}

{% block nav %}
    <li><a class="navig nav-link fw-bold py-1 px-0" aria-current="page" href="/">Главная</a></li>
    {% if current_user.is_authenticated %}
        <li><a class="navig nav-link fw-bold py-1 px-0" href="/settings">Настройки</a></li>
    {% else %}
        <li><a class="navig nav-link fw-bold py-1 px-0" href="/sign-in">Настройки</a></li>
    {% endif %}
    <li><a class="navig nav-link fw-bold py-1 px-0 active" href="/sign-in"><i class="fa-regular fa-user fa-sm"></i> Войти</a></li>
{% endblock %}


{% block content %}
<form class="form-signin" action="" method="post">
    <h1 class="h2 mb-5 mt-5 font-weight-normal">Регистрация</h1>
    {{ form.hidden_tag() }}
    <div class="row justify-content-center"><label class="lb mb-1 col-12  col-sm-6 col-md-6 col-lg-6 col-xl-6">{{ form.name.label }}</label></div>
    <div class="row justify-content-center">
        {{ form.name(class="form-input-reg-log mb-3 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6", placeholder="Введите имя") }}
        {% for error in form.name.errors %}
             <p class="alert-reg mb-2" role="alert">{{error}}</p>
        {% endfor %}
    </div>
    <div class="row justify-content-center"><label class="lb mb-1 col-12  col-sm-6 col-md-6 col-lg-6 col-xl-6">{{ form.surname.label }}</label></div>
    <div class="row justify-content-center">
        {{ form.surname(class="form-input-reg-log mb-3 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6", placeholder="Введите фамилию") }}
        {% for error in form.surname.errors %}
             <p class="alert-reg mb-2" role="alert">{{error}}</p>
        {% endfor %}
    </div>
    <div class="row justify-content-center"><label class="lb mb-1 col-12  col-sm-6 col-md-6 col-lg-6 col-xl-6">{{ form.nick_name.label }}</label></div>
    <div class="row justify-content-center">
        {{ form.nick_name(class="form-input-reg-log mb-3 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6", placeholder="Введите имя пользователя") }}
        {% for error in form.nick_name.errors %}
             <p class="alert-reg mb-2" role="alert">{{error}}</p>
        {% endfor %}
    </div>
    <div class="row justify-content-center"><label class="lb mb-1 col-12  col-sm-6 col-md-6 col-lg-6 col-xl-6">{{ form.email.label }}</label></div>
    <div class="row justify-content-center">
        {{ form.email(class="form-input-reg-log mb-3 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6", placeholder="Введите электронную почту", type="email") }}
        {% for error in form.email.errors %}
             <p class="alert-reg mb-2" role="alert">{{error}}</p>
        {% endfor %}
    </div>
    <div class="row justify-content-center"><label class="lb mb-1 col-12  col-sm-6 col-md-6 col-lg-6 col-xl-6">{{ form.password.label }}</label></div>
    <div class="row justify-content-center">
        {{ form.password(class="form-input-reg-log mb-3 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6", placeholder="Введите пароль", type="password") }}
        {% for error in form.password.errors %}
             <p class="alert-reg mb-2" role="alert">{{error}}</p>
        {% endfor %}
    </div>
    <div class="row justify-content-center"><label class="lb mb-1 col-12  col-sm-6 col-md-6 col-lg-6 col-xl-6">{{ form.password_again.label }}</label></div>
    <div class="row justify-content-center">
        {{ form.password_again(class="form-input-reg-log mb-4 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6", placeholder="Введите пароль ещё раз", type="password") }}
        {% for error in form.password_again.errors %}-->
             <p class="alert-reg mb-2" role="alert">{{error}}</p>
        {% endfor %}
    </div>
    <div class="checkbox mb-3">
            <label>
                 {{ form.remember_me() }} {{ form.remember_me.label }}
            </label>
    </div>
    {{ form.submit(type="submit", class="hv-btn btn btn-lg btn-light fw-bold border-white mb-3") }}<br>
    {% for category, msg in get_flashed_messages(True) %}
            <p class="flash {{category}} mb-2" role="alert">{{msg}}</p>
    {% endfor %}
</form>
<p>Уже есть аккаунт? <a class="text_link" href="/sign-in">Войти</a></p>
{% endblock %}