
/* CUSTOM DEFAULT BUTTONS */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * BASE STRUCTURE
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(255, 165, 0, 0.2);
  background: rgba(0, 0, 0, 1);
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover-container {
  max-width: 54em;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

/*
 * HEADER
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}


.navig{
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

header{
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hd-bs{
    width: 100%;
    border-radius: 5px;
}

.hd-bs-bg-tr{
   background: transparent;
   transition: .4s;
}

.hd-bs-bg-bl{
   background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
   transition: .4s;
   box-shadow: 0 0 10px 5px #000;
}

/*
 * BUTTONS
 */

.btn-custom{
    position: relative;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 5px 15px;
    transition: 0.5s;
}

.btn-custom:hover{
    background: transparent;
    color: #FFA500;
    letter-spacing: 0.25em;
    border: 2px solid #FFA500;
    box-shadow: 0 0 35px rgba(255, 165, 0, 0.5);
}

.btn-custom:before
{
    content: '';
    position: absolute;
    inset: 2px;
    background: transparent;
}

.btn-custom span{
    position: relative;
    z-index: 1;

}

.btn-custom i{
    position: absolute;
    inset: 0;
    display: block;
}

.btn-custom i::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: 80%;
    width: 15px;
    height: 4px;
    background: #000;
    transform: translateX(-50%) skewX(325deg);
    transition: .5s;
}

.btn-custom:hover i::before
{
    width: 30px;
    left: 20%;

}

.btn-custom i::after
{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 20%;
    width: 15px;
    height: 4px;
    background: #000;
    transform: translateX(-50%) skewX(325deg);
    transition: .5s;
}

.btn-custom:hover i::after
{
    width: 30px;
    left: 80%;

}

.btn-add-quote {
    margin-bottom: 100px;
}


.hv-btn{
    border: 2px solid #FFA500;
    transition: .3s;
}

.hv-btn:hover{
    color: #000;
    background: #FFA500;
    border: 2px solid #FFA500;
    box-shadow: 0 0 35px rgba(255, 165, 0, 0.5);
}

/* CUSTOM CHECKBOX REG|LOG PAGES */

input[type='checkbox'] {
    accent-color: #FFA500;
}

/* ALERTS */

.flash.error {
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    font-size: 16px;
}

.flash.success {
    background: green;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    font-size: 16px;
}

/* CUSTOM LABEL */

.lb{
    padding:0;
    text-align: left;
    font-size: 20px;
}

/* FORMS */

.form-input-reg-log{
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom:5px;
}

.form-input-reg-log:focus
{
    border-color: rgba(255, 165, 0, 0.4);
    box-shadow: 0 0 0px 3px rgba(255, 165, 0, 0.4);
}
.form-input-сomment-add{
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 165, 0, 0.8);
    padding-top: 10px;
    padding-bottom:10px;
    background: transparent;
    color: #fff;
    transition: .1s;
}

.form-input-сomment-add:focus
{
    border-bottom: 6px solid rgba(255, 165, 0, 1);
}

.form-input-сomment-add:focus::placeholder{
    letter-spacing: .05em;
}


.form-input-сomment-add::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-weight: italic;
    transition: .1s;
}


/* HEAD TITLES ON PAGE */

.head-title{
    margin-bottom: 100px;
    margin-top: 50px;
}

/* QUOTES */

.quote{
    border-radius: none;
    margin-bottom: 100px;
    border-right: 5px solid  rgba(255, 165, 0, 0.8);
    border-left: 5px solid  rgba(255, 165, 0, 0.8);
    text-align: center;
    padding-top: 15px;
    align-items: center;
    position: relative;
}

.quote_profile{
    border-radius: none;
    margin-bottom: 50px;
    border-right: 5px solid  rgba(255, 165, 0, 0.8);
    border-left: 5px solid  rgba(255, 165, 0, 0.8);
    margin-left: 5px;
    width: 98%;
    text-align: center;
    padding-top: 15px;
    align-items: center;
    position: relative;
}


.quote-alone{
    border-radius: none;
    margin-bottom: 100px;
    border-right: 5px solid  rgba(255, 165, 0, 0.8);
    border-left: 5px solid  rgba(255, 165, 0, 0.8);
    padding-top: 15px;
    text-align: left;
    align-items: center;
    position: relative;
}

.delete{
    width: 15px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
}

.delete:hover{
    cursor: pointer;
}


.author-quote{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.quote-text-h3{
    transition: 0.3s;
    overflow-wrap: break-word;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
}

.text-h3{
    transition: 0.3s;
    overflow-wrap: break-word;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
}

.quote-text-h2{
    transition: 0.3s;
    overflow-wrap: break-word;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    font-weight: 400;
}

.quote-text-h3:hover,
.quote-text-h2:hover
{
    color: rgba(255, 165, 0, 1);
    cursor: pointer;
}

.author-quote-text{
    word-break: break-all;
}


.indicators{
    display: flex;
    justify-content: space-between;
}

/* LINK TEXT CUSTOM */

.text_link{
    color: white;
}

.text_link:hover{
    cursor: pointer;
    color: #FFA500;
}

.author-link-text-quote{
    text-decoration: none;
    color: white;
    transition: .3s;
}

.author-link-text-quote:hover{
    cursor: pointer;
    color: #FFA500;
}

.author-link-text-comment{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .3s;
}

.author-link-text-comment:hover{
    cursor: pointer;
    color: #FFA500;
}
/* SEND COMMENT BUTTON*/

.send-button{
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #fff;
    transition: .3s;
    background: transparent;
}



.send-button:hover{
    cursor: pointer;
    color: #FFA500;
    border: 2px solid #FFA500;
    box-shadow: 0 0 35px rgba(255, 165, 0, 0.5);
}

/* COMMENT'S PAGE */

.comment_text{
    text-align: left;
}

.comments_content{
    height: 400px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
}

.item_comments{
    width: 100%;
    min-height: 100%;
}

.comment{
    align-items: center;
    margin-left: 2px;
    border-left: 2px solid  rgba(255, 165, 0, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    word-break: break-word;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}

.date{
    color: gray;
}


/* SCROLLBAR */

::-webkit-scrollbar
{
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track
{
    background: #000;
}
::-webkit-scrollbar-thumb
{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover
{
    background: rgba(255, 255, 255, 0.8);
}


/*LIKE BUTTON */


.fa-heart:hover
{
    cursor: pointer;
}

.fa-heart.profile:hover
{
    cursor: default;
}


/* PROFILE INFO | PROFILE PAGE*/
.profile_main{
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

/* BLOB | PROFILE PAGE*/

.blob{
    background: transparent;
    box-sizing: border-box;
}

#blobSvg{
    padding: 0;
    margin: 0;
}

.svg_blob{
    width: min(100%, 400px);
    height: min(100%, 400px);
}


.blob2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    filter: blur(50px);
}


/* PROFILE IMAGE */

.profile_img{
    width: min(20%, 100px);
    height: min(20%, 100px);
    border-radius: 50%;
}

/* STYLES FOR PROFILE PAGE (TEXT ABOUT USER INFORMATION)*/

.fw-light{
    font-size: 18px;
    margin-bottom: 10px;
}

.fw-light-score{
    font-size: 15px;
}

.lead-date{
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 18px;
    letter-spacing: 0.5px
}

.nick_name_profile{
    margin-bottom: 0;
}
